.logo {
  margin-top: 110px;
}

.forkRibbonContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 215px;
  height: 215px;
  overflow: hidden;
}

.forkRibbon {
  position: absolute;
  top: 50px;
  right: -50px;
  width: 280px;
  background: #3495cc;
  font-size: 16px;
  color: #fff;
  box-shadow: 0 2px 5px 1px rgba(21, 58, 85, .8);
  padding: 5px 0;
  transform: rotate(35deg);
}
