:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: $dark-grey;
  line-height: 1.4;
  background-color: $dark-blue;
  overflow-x: hidden;
}

#root {
  background-color: #fff;
  opacity: 0;
  transition: opacity .5s;
  transition-timing-function: ease-out;
  &.loaded {
    opacity: 1;
  }
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 128px;
  height: 128px;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.pulse {
  position: absolute;
  top: -26px;
  left: -26px;
  width: 180px;
  height: 180px;
  background-color: #46708a;
  border-radius: 100%;
  animation: pulse 2.5s infinite cubic-bezier(.4, 0, .27, 1);;
  z-index: -1;
}

* {
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

hr {
  border-top: 0;
  border-bottom: 1px solid $lighter-grey;

  &.dark {
    border-color: $light-grey;
  }
}

code {
  white-space: pre-wrap;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
}

.text-12 {
  font-size: 12px;
}

.text-18 {
  font-size: 18px;
}

.text-24 {
  font-size: 24px;
}

.text-30 {
  font-size: 30px;
}

.dark-blue-text {
  color: $dark-blue;

  &:hover {
    color: $dark-blue;
  }
}

.grey-text {
  color: $dark-grey;

  &:hover {
    color: $dark-grey;
  }
}

.white-bg {
  background: #fff;
}

.grey-bg {
  background: $grey-bg;
}

.mt-5 {
  margin-top: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-70 {
  margin-left: 70px;
}

.mr-70 {
  margin-right: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-40 {
  padding: 40px;
}

.heavy-border-top {
  border-top: 15px solid $dark-blue;
}

.heavy-border-bottom {
  border-bottom: 15px solid $dark-blue;
}

.pointer {
  cursor: pointer;
}

.button {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 5px;

  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }

  &.blue-button {
    border-color: $blue;
    color: $blue;
  }

  &.dark-blue-button {
    border-color: $dark-blue;
    color: $dark-blue;
  }
}
