:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: $dark-grey;
  line-height: 1.4;
  overflow-x: hidden;
}

a, a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 970px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-12 {
  font-size: 12px;
}

.text-24 {
  font-size: 24px;
}

@for $i from 0 to 40 by 5 {
  .mt-$i {
    margin-top: $(i)px;
  }
  .mb-$i {
    margin-bottom: $(i)px;
  }
  .mr-$i {
    margin-right: $(i)px;
  }
  .ml-$i {
    margin-left: $(i)px;
  }
}

.heavy-border-top {
  border-top: 15px solid $dark-blue;
}

.heavy-border-bottom {
  border-bottom: 15px solid $dark-blue;
}
