.layout.horizontal, .layout.vertical {
  display: flex
}

.layout.horizontal.inline, .layout.vertical.inline {
  display: inline-flex
}

.layout.horizontal {
  flex-direction: row
}

.layout.horizontal.reverse {
  flex-direction: row-reverse
}

.layout.vertical {
  flex-direction: column
}

.layout.vertical.reverse {
  flex-direction: column-reverse
}

.layout.wrap {
  flex-wrap: wrap
}

.layout.wrap-reverse {
  flex-wrap: wrap-reverse
}

.flex {
  flex: 1;
  flex-basis: .000000001px
}

.flex.auto {
  flex-basis: auto
}

.flex.none {
  flex: none
}

.flex.one {
  flex: 1
}

.flex.two {
  flex: 2
}

.flex.three {
  flex: 3
}

.flex.four {
  flex: 4
}

.flex.five {
  flex: 5
}

.flex.six {
  flex: 6
}

.flex.seven {
  flex: 7
}

.flex.eight {
  flex: 8
}

.flex.nine {
  flex: 9
}

.flex.ten {
  flex: 10
}

.flex.eleven {
  flex: 11
}

.flex.twelve {
  flex: 12
}

.fix-flex {
  width: 0
}

.vertical.layout > .flex.auto-vertical {
  flex-basis: auto
}

.horizontal.row > .flex:not(:first-of-type) {
  margin-left: 2%
}

.layout.start {
  align-items: flex-start
}

.layout.center, .layout.center-center {
  align-items: center
}

.layout.end {
  align-items: flex-end
}

.layout.baseline {
  align-items: baseline
}

.layout.start-justified {
  justify-content: flex-start
}

.layout.center-center, .layout.center-justified {
  justify-content: center
}

.layout.end-justified {
  justify-content: flex-end
}

.layout.around-justified {
  justify-content: space-around
}

.layout.justified {
  justify-content: space-between
}

.self-start {
  align-self: flex-start
}

.self-center {
  align-self: center
}

.self-end {
  align-self: flex-end
}

.self-stretch {
  align-self: stretch
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.hidden {
  display: none !important
}

.relative {
  position: relative
}

.absolute, .fit {
  position: absolute
}

.fit {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

:root {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  color: #868686;
  line-height: 1.4;
  background-color: #153a55;
  overflow-x: hidden
}

#root {
  background-color: #fff
}

.sk-spinner-pulse {
  width: 40px;
  height: 40px;
  margin: 40px auto;
  background-color: #333;
  border-radius: 100%;
  animation: sk-pulseScaleOut 1s infinite ease-in-out
}

* {
  box-sizing: border-box
}

a, a:hover {
  text-decoration: none
}

img {
  max-width: 100%
}

hr {
  border-top: 0;
  border-bottom: 1px solid #e5e5e5
}

hr.dark {
  border-color: #ccc
}

code {
  white-space: pre-wrap
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px
}

.text-center {
  text-align: center
}

.text-uppercase {
  text-transform: uppercase
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%
}

.text-12 {
  font-size: 12px
}

.text-18 {
  font-size: 18px
}

.text-24 {
  font-size: 24px
}

.text-30 {
  font-size: 30px
}

.dark-blue-text, .dark-blue-text:hover {
  color: #153a55
}

.grey-text, .grey-text:hover {
  color: #868686
}

.white-bg {
  background: #fff
}

.grey-bg {
  background: #f5f5f5
}

.m-0 {
  margin: 0
}

.mt-0 {
  margin-top: 0
}

.mb-0 {
  margin-bottom: 0
}

.mr-0 {
  margin-right: 0
}

.ml-0 {
  margin-left: 0
}

.p-0 {
  padding: 0
}

.m-5 {
  margin: 5px
}

.mt-5 {
  margin-top: 5px
}

.mb-5 {
  margin-bottom: 5px
}

.mr-5 {
  margin-right: 5px
}

.ml-5 {
  margin-left: 5px
}

.p-5 {
  padding: 5px
}

.m-10 {
  margin: 10px
}

.mt-10 {
  margin-top: 10px
}

.mb-10 {
  margin-bottom: 10px
}

.mr-10 {
  margin-right: 10px
}

.ml-10 {
  margin-left: 10px
}

.p-10 {
  padding: 10px
}

.m-15 {
  margin: 15px
}

.mt-15 {
  margin-top: 15px
}

.mb-15 {
  margin-bottom: 15px
}

.mr-15 {
  margin-right: 15px
}

.ml-15 {
  margin-left: 15px
}

.p-15 {
  padding: 15px
}

.m-20 {
  margin: 20px
}

.mt-20 {
  margin-top: 20px
}

.mb-20 {
  margin-bottom: 20px
}

.mr-20 {
  margin-right: 20px
}

.ml-20 {
  margin-left: 20px
}

.p-20 {
  padding: 20px
}

.m-25 {
  margin: 25px
}

.mt-25 {
  margin-top: 25px
}

.mb-25 {
  margin-bottom: 25px
}

.mr-25 {
  margin-right: 25px
}

.ml-25 {
  margin-left: 25px
}

.p-25 {
  padding: 25px
}

.m-30 {
  margin: 30px
}

.mt-30 {
  margin-top: 30px
}

.mb-30 {
  margin-bottom: 30px
}

.mr-30 {
  margin-right: 30px
}

.ml-30 {
  margin-left: 30px
}

.p-30 {
  padding: 30px
}

.m-35 {
  margin: 35px
}

.mt-35 {
  margin-top: 35px
}

.mb-35 {
  margin-bottom: 35px
}

.mr-35 {
  margin-right: 35px
}

.ml-35 {
  margin-left: 35px
}

.p-35 {
  padding: 35px
}

.m-40 {
  margin: 40px
}

.mt-40 {
  margin-top: 40px
}

.mb-40 {
  margin-bottom: 40px
}

.mr-40 {
  margin-right: 40px
}

.ml-40 {
  margin-left: 40px
}

.p-40 {
  padding: 40px
}

.m-45 {
  margin: 45px
}

.mt-45 {
  margin-top: 45px
}

.mb-45 {
  margin-bottom: 45px
}

.mr-45 {
  margin-right: 45px
}

.ml-45 {
  margin-left: 45px
}

.p-45 {
  padding: 45px
}

.m-50 {
  margin: 50px
}

.mt-50 {
  margin-top: 50px
}

.mb-50 {
  margin-bottom: 50px
}

.mr-50 {
  margin-right: 50px
}

.ml-50 {
  margin-left: 50px
}

.p-50 {
  padding: 50px
}

.m-55 {
  margin: 55px
}

.mt-55 {
  margin-top: 55px
}

.mb-55 {
  margin-bottom: 55px
}

.mr-55 {
  margin-right: 55px
}

.ml-55 {
  margin-left: 55px
}

.p-55 {
  padding: 55px
}

.m-60 {
  margin: 60px
}

.mt-60 {
  margin-top: 60px
}

.mb-60 {
  margin-bottom: 60px
}

.mr-60 {
  margin-right: 60px
}

.ml-60 {
  margin-left: 60px
}

.p-60 {
  padding: 60px
}

.m-65 {
  margin: 65px
}

.mt-65 {
  margin-top: 65px
}

.mb-65 {
  margin-bottom: 65px
}

.mr-65 {
  margin-right: 65px
}

.ml-65 {
  margin-left: 65px
}

.p-65 {
  padding: 65px
}

.m-70 {
  margin: 70px
}

.mt-70 {
  margin-top: 70px
}

.mb-70 {
  margin-bottom: 70px
}

.mr-70 {
  margin-right: 70px
}

.ml-70 {
  margin-left: 70px
}

.p-70 {
  padding: 70px
}

.m-75 {
  margin: 75px
}

.mt-75 {
  margin-top: 75px
}

.mb-75 {
  margin-bottom: 75px
}

.mr-75 {
  margin-right: 75px
}

.ml-75 {
  margin-left: 75px
}

.p-75 {
  padding: 75px
}

.m-80 {
  margin: 80px
}

.mt-80 {
  margin-top: 80px
}

.mb-80 {
  margin-bottom: 80px
}

.mr-80 {
  margin-right: 80px
}

.ml-80 {
  margin-left: 80px
}

.p-80 {
  padding: 80px
}

.heavy-border-top {
  border-top: 15px solid #153a55
}

.heavy-border-bottom {
  border-bottom: 15px solid #153a55
}

.pointer {
  cursor: pointer
}

.button {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 5px
}

.button:focus, .button:hover {
  text-decoration: none;
  outline: none
}

.button.blue-button {
  border-color: #59b6dc;
  color: #59b6dc
}

.button.dark-blue-button {
  border-color: #153a55;
  color: #153a55
}

.logo_3RwBa {
  margin-top: 110px
}

.forkRibbonContainer_3vxQb {
  position: absolute;
  top: 0;
  right: 0;
  width: 215px;
  height: 215px;
  overflow: hidden
}

.forkRibbon_2Jccf {
  position: absolute;
  top: 50px;
  right: -50px;
  width: 280px;
  background: #3495cc;
  font-size: 16px;
  color: #fff;
  box-shadow: 0 2px 5px 1px rgba(21, 58, 85, .8);
  padding: 5px 0;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg)
}

.button_jaS-s {
  min-width: 60px;
  padding: 0 8px 0 4px;
  border: 1px solid #9fb8c4;
  background: -webkit-linear-gradient(#f7fafa, #bdd5e0);
  background: linear-gradient(#f7fafa, #bdd5e0)
}

.count_3jSlu {
  position: relative;
  min-width: 35px;
  padding: 0 5px
}

.count_3jSlu, .count_3jSlu:before {
  border: 1px solid #b4cfdc;
  background: #fff
}

.count_3jSlu:before {
  position: absolute;
  left: -4px;
  top: 8px;
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-width: 0 0 1px 1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.button_jaS-s, .count_3jSlu {
  display: block;
  height: 24px;
  color: #4a7b97;
  border-radius: 2px;
  text-shadow: 1px 1px 1px #fff
}

.previewBox_1YHZ3 {
  background-color: #fff;
  background-image: -webkit-linear-gradient(45deg, #efefef 25%, transparent 0, transparent 75%, #efefef 0, #efefef), -webkit-linear-gradient(45deg, #efefef 25%, transparent 0, transparent 75%, #efefef 0, #efefef);
  background-image: linear-gradient(45deg, #efefef 25%, transparent 0, transparent 75%, #efefef 0, #efefef), linear-gradient(45deg, #efefef 25%, transparent 0, transparent 75%, #efefef 0, #efefef);
  background-position: 0 0, 10px 10px;
  background-size: 21px 21px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .14902);
  width: 250px;
  height: 250px;
  overflow: auto
}

pre {
  background: transparent !important
}

.button_1Df_T {
  width: 260px
}

.header_1p402 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

@media only screen and (max-width: 768px) {
  .header_1p402 {
    display: block
  }
}

.toggleSize_bKr8e {
  width: 38px;
  height: 38px;
  font-size: 16px;
  color: #b4b4b4;
  border: 1px solid #b4b4b4;
  border-radius: 2px;
  cursor: pointer
}

.toggleSize_bKr8e.active_2Gfl2 {
  background: #b4b4b4;
  color: #fff
}

.search_2vb7t {
  width: 100%;
  min-width: 200px;
  display: block;
  color: #868686;
  background: #f5f5f5;
  border: none;
  height: 37px;
  text-align: center
}

.search_2vb7t:focus {
  outline: none
}

.item_2zfiY {
  width: 115px
}

.selected_a0Us9 {
  color: #59b6dc
}
