.button {
  min-width: 60px;
  padding: 0 8px 0 4px;
  border: 1px solid #9fb8c4;
  background: linear-gradient(#f7fafa, #bdd5e0);
}

.count {
  position: relative;
  min-width: 35px;
  padding: 0 5px;
  border: 1px solid #b4cfdc;
  background: #fff;

  &:before {
    position: absolute;
    left: -4px;
    top: 8px;
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #fff;
    border: 1px solid #b4cfdc;
    border-width: 0 0 1px 1px;
    transform: rotate(45deg);
  }
}

.button, .count {
  display: block;
  height: 24px;
  color: #4a7b97;
  border-radius: 2px;
  text-shadow: 1px 1px 1px #fff;
 }

 .icon svg {
  width: 16px;
  height: 16px;
  color: #2496d9 !important;
 }
